#monthList {
    list-style-type: decimal;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.switch input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.switch input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #007bff;
}

.switch input[type="radio"]:not(:checked)::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff0000;
}


.switch input[type="radio"]:not(:checked)+label {
    color: #ff0000;
}