.cl1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.cl2{
    color: red;
    font-weight: bold;
}



.cl3{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.cl4{
    border-color: red;
    border-style: dotted;
    border-radius: 3px;
}

.cl5{
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200;
}